<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.career">
	<insert id="input" parameterType="java.util.HashMap">
		insert into score
		values(#{CMPN_NM}, #{FINANCE_SCORE}, #{SLAVE_SCORE}, #{LOGO},
		#{DIVISION}, #{SCALE})
	</insert>

	<select id="detailscore" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from score where CMPN_NM=#{COMPANYNAME}
	</select>

	<select id="detailsalary" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from salary where CMPN_NM=#{COMPANYNAME}
	</select>

	<select id="detailsame" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select CMPN_NM, LOGO from score where
		DIVISION=#{COMPANYNAME} order by FINANCE_SCORE DESC
	</select>

	<select id="review" resultType="java.util.HashMap">
		select * from reviews where CMPN_NM=#{COMPANYNAME} order by
		WDATE desc
	</select>


</mapper>