<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.career">
	<insert id="input" parameterType="java.util.HashMap">
		insert into score
		values(#{CMPN_NM}, #{FINANCE_SCORE}, #{EMPLOYEE_SCORE}, #{LOGO},
		#{DIVISION}, #{SCALE})
	</insert>

	<select id="detailscore" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from score where CMPN_NM=#{COMPANYNAME}
	</select>

	<select id="detailsalary" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from salary where CMPN_NM=#{COMPANYNAME}
	</select>

	<select id="detailsame" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select CMPN_NM, LOGO from score where
		DIVISION=#{DIVISION} order by FINANCE_SCORE DESC
	</select>

	<select id="review" resultType="java.util.HashMap">
		select * from reviews where CMPN_NM=#{COMPANYNAME} order by
		WDATE desc
	</select>
	
	<insert id="visit" parameterType="java.util.HashMap">
		insert into visit
		values(#{EMAIL}, #{CMPN_NM}, SYSDATE)
	</insert>

	<select id="interest" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select * from interest where CMPN_NM=#{CMPN_NM} and EMAIL=#{EMAIL}
	</select>
	
	<update id="plus" parameterType="java.util.HashMap">
		update interest set LOVE=1 where CMPN_NM=#{CMPN_NM} and EMAIL=#{EMAIL}
	</update>
	
	<update id="minus" parameterType="java.util.HashMap">
		update interest set LOVE=0 where CMPN_NM=#{CMPN_NM} and EMAIL=#{EMAIL}
	</update>
	
	<insert id="push" parameterType="java.util.HashMap">
		insert into interest
		values(#{CMPN_NM}, #{EMAIL}, 1)
	</insert>

</mapper>