<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.company">
	<insert id="inputA" parameterType="java.util.HashMap">
		insert into salary values(#{PK_NM}, #{CMPN_NM}, #{AVG_SALARY_YY}, #{ROOKEY_SALARY_YY})
	</insert>
	<insert id="inputB" parameterType="java.util.HashMap">
		insert into salary values(#{PK_NM}, #{CMPN_NM}, #{AVG_SALARY_FSS}, #{ROOKEY_SALARY_FSS})
	</insert>
	<insert id="inputC" parameterType="java.util.HashMap">
		insert into rank values(#{PK_NM}, #{CMPN_NM}, #{WKP_ADRS}, #{STNDD_BIG_GB}, #{SALARY})
	</insert>
	<insert id="inputD" parameterType="java.util.HashMap">
		insert into salary values(#{PK_NM}, #{CMPN_NM}, #{AVG_SALARY}, #{ROOKIE_SALARY})
	</insert>
	<select id="getScore" parameterType="java.lang.String" resultType="java.util.HashMap" >
		select * from score
	</select>
	<select id="getSalary" parameterType="java.lang.String" resultType="java.util.HashMap" >
		select * from salary
	</select>
</mapper>