<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.compare">
	<select id="select" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from SCORE where CMPN_NM = #{CMPN_NM}  
	</select>
	
	<insert id="insert" parameterType="java.util.HashMap">
		insert into COMPARE values (#{email }, #{cm1 }, #{cm2 }, sysdate)
	</insert>
	
	<select id="listall" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from COMPARE where EMAIL = #{email} and CM1 = #{cm1} and CM2 = #{cm2}
	</select>
</mapper>