<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.member">
	<select id="existCheck" resultType="java.lang.Integer"
		parameterType="java.util.HashMap">
		select count(*) from member where email=#{email} and
		pass=#{pass}
	</select>
	<select id="emailCheck" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		select count(*) from member where email=#{email}
	</select>
	<select id="getById" resultType="java.util.HashMap"
		parameterType="java.lang.String">
		select * from member where email=#{email}
	</select>

	<insert id="add" parameterType="java.util.HashMap">
		insert into member values( mem_seq.nextval, #{email}, 
		#{pass}, #{name}, #{birth}, #{facebook}, sysdate)
	</insert>
	<insert id="addInfo" parameterType="java.util.HashMap">
		insert into member_info values( #{email}, 
		#{gender}, #{area}, #{STNDD_BIG_GB}, #{salary_min}, #{salary_max})
	</insert>
	<update id="update" parameterType="java.util.HashMap">
		update member set
		pass=#{pass}, name=#{name}, age=#{age}, gender=#{gender} where email=#{email}
	</update>
	<delete id="delete" parameterType="java.util.HashMap">
		delete from member where
		email=#{email} and pass=#{pass}
	</delete>

</mapper>