<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.my">
	<select id="location" resultType="java.util.HashMap">
		select * from location 
	</select>
	<select id="industry" resultType="java.util.HashMap">
		select * from industry 
	</select>
		<update id="update" parameterType="java.util.HashMap" >
		update MEMBER_INFO set GENDER=#{gender}, AREA=#{location}, STNDD_BIG_GB=#{industry}, SALARY_MIN=#{salary_min}, SALARY_MAX=#{salary_max} where email=#{email}
	</update>
		<select id="data" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from MEMBER_INFO where email=#{email}
	</select>
</mapper>