<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.rank">
	<select id="avgsalary"  resultType="java.util.HashMap">
		<![CDATA[
    	select * from ( select rownum RNUM, sc.* from (select * from SALARY order by AVG_SALARY desc ) sc) 
    	where RNUM>=0 and RNUM<=49 ]]>
	</select>
	
	<select id="rookeysalary" resultType="java.util.HashMap">
		<![CDATA[
    	select * from ( select rownum RNUM, sc.* from (select * from SALARY order by ROOKEY_SALARY desc ) sc) 
    	where RNUM>=0 and RNUM<=49 ]]>  
	</select>
	
	<select id="search" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from score where CMPN_NM = #{CMPN_NM} 
	</select>
	
</mapper>