<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.review">
	<select id="total" resultType="java.util.HashMap">
		select count(*) as COUNT from
		REVIEWS
	</select>
	<select id="totalbyName" resultType="java.util.HashMap">
		select count(*) as COUNT from REVIEWS where CMPN_NM like #{CName} order by WDATE desc
	</select>
	<select id="getPage" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
	<![CDATA[
		select * from (
			select rownum RNUM, r.* from (
				select r.*, s.LOGO from SCORE s, REVIEWS r where
		s.CMPN_NM=r.CMPN_NM order by
		r.WDATE desc
			)r)
		where RNUM>=${start} and RNUM<=${end}
	]]>
	</select>
	<select id="review" resultType="java.util.HashMap">
		select r.*, s.LOGO from SCORE s,
		REVIEWS r where
		s.CMPN_NM=r.CMPN_NM order by
		r.WDATE desc
	</select>

	<select id="rank" resultType="java.util.HashMap">
		select reviews.CMPN_NM,
		SCORE.DIVISION, SCORE.SCALE from SCORE, REVIEWS where
		SCORE.CMPN_NM=REVIEWS.CMPN_NM
		order by REVIEWS.WDATE desc
	</select>

	<insert id="push" parameterType="java.util.HashMap">
		insert into REVIEWS
		VALUES(#{CMPN_NM},#{CONTENTS},SYSDATE,#{EMAIL},#{RATE})
	</insert>
	<select id="search" parameterType="java.lang.String" resultType="java.util.HashMap">
		select * from Reviews where CMPN_NM like #{CName} order by WDATE desc
	</select>
	<select id="getCount" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(*) as cnt from Reviews where CMPN_NM like
		#{CName}
	</select>
	<select id="searchLogo" parameterType="java.lang.String"
		resultType="java.util.HashMap">
		select * from SCORE where CMPN_NM like #{CName}
	</select>

	<select id="getPageData" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		<![CDATA[
		select * from (
		select rownum RNUM, r.* from (
		select * from REVIEWS where CMPN_NM like #{CName}
		order by WDATE desc
		)r)
		where RNUM>=#{start} and RNUM<=#{end}
		]]>
	</select>
</mapper>